.page{
    height: 116px;
    background-color: firebrick;
    border: 2px solid black;
    position: sticky

}
.logo{
    position: relative;
    left: 390px;
}

.header2{
    position: relative;
    bottom: 95px;
    left: 502px;
    font-family:fantasy;
    color: rgb(3, 15, 49);
    font-weight: lighter;
    font-size: x-large;
}

nav ul li{
    list-style-type: none;
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.li2{
    position: relative;
    bottom: 87px;
    left: 1290px;
    font-size: x-large;
}

.li3{
    position: relative;
    bottom: 87px;
    left: 1300px;
    font-size: x-large;
}

main{
    position: relative;
    top: -60px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-image: url(./A_high_quality_and_hyperrealis.jpeg);
    background-size: cover;
    background-position:center;
    
}

main::before{ /* This how you change the background image opacity*/
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(252,252,252,0.6);
}

.header5{
    position: relative;
    color: firebrick;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xxx-large;
    text-align: center;
}

a button{
    position: relative;
    bottom: 640px;
    left: 790px;
    color: rgb(3, 15, 49);;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}

article .p1{
    position: relative;
    top: -348px;
    color: rgb(3, 15, 49);;
    font-weight:bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 300px 300px;
    text-align: center;
    justify-content: center;
    
    
}


