
.header1{
color: firebrick;
font: bold;
font-family: fantasy;
position: relative;
text-align: center;
}

.header2{
    color: rgb(3, 15, 49);
    font: bolder;
    font-family: fantasy;
    position: relative;
    font-size:x-large;
    right: -116px;
    bottom: -12px;
    text-size-adjust: 1;
    text-align: left;
    }


.p1{
    position: relative;
bottom: -120px;
text-align: center;
color: whitesmoke
}

a.logo{
   position:absolute;
   top: 0%;
}

.page{
    background-color: firebrick;
    border: 2px solid black;
}

nav{
    text-align: right;
    position: relative;
    bottom: 94px;
    right: 15px;
    font-size: x-large;
}

nav ul li{
    list-style-type: none;
    display: inline;
}

nav ul li a{
    color: white;
    text-decoration: none;
    
    
}